Source: cutegram
Section: text
Priority: optional
Maintainer: Aseman Team <contact@aseman.co>
Build-Depends:
 debhelper (>= 9),
 qtbase5-dev (>= 5.2.0),
 qtdeclarative5-dev (>= 5.2.0),
 qt5-qmake
Standards-Version: 3.9.8
Homepage: https://aseman.co/cutegram
Vcs-Git: https://github.com/Aseman-Land/Cutegram

Package: cutegram-emojis-twemoji
Architecture: all
Depends: ${misc:Depends}
Description: Twemoji pack for cutegram
 Twemoji pack for the cutegram client

Package: cutegram-emojis-emojione
Architecture: all
Depends: ${misc:Depends}
Description: Emojione pack for cutegram
 Emojione pack for the cutegram client

Package: cutegram
Architecture: any
Depends: asemantools (>= 1.0.0),
  telegramqml (>= 2.0.0),
  qtchooser,
  qmlscene,
  cutegram-emojis-emojione (= ${source:Version}),
  cutegram-emojis-twemoji (= ${source:Version}),
  ${misc:Depends},
  ${shlibs:Depends}
Description: Another telegram client
 Better telegram client from Aseman Team.
